<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>Reportry-楽器演奏記録サイト</h1>
      <br><%= link_to '新規登録' , new_user_path, class: "btn btn-primary" %></br>
      <br></br>
      <%= link_to 'ログイン' , login_path, class: "btn btn-primary" %>
    </section>
  </aside>
  </div>
</div>

