
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>楽器演奏記録サイト</h1>
      <%= link_to '練習レポートを書く' , login_path, class: "btn btn-primary" %>
    </section>
  </aside>
  </div>
</div>


