<h1>Report</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= @report.user %>
      <%= @report.title %>
      <%= @report.artist %>
      <%= @report.content %>
   
  </div>
</div>